# Iwakura Environment Configuration
DASH_PORT=9999
DASH_HOST=127.0.0.1
GUESTBOOK_PORT=9090

# Guestbook Web Customization
GB_TITLE="Iwakura Guestbook"
GB_HEADING="Leave a message"
GB_BG_COLOR="#050505"
GB_FG_COLOR="#00ff00"
GB_BTN_COLOR="#008800"

# Weather Configuration (add your own city)
WX_LAT="-"
WX_LON=""

# Spotify Integration
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_REFRESH_TOKEN=""

# Last.fm Configuration
LASTFM_API_KEY=""
LASTFM_USER=""
LASTFM_DISPLAY_NAME="" #(this is local btw, just for display)

# Calendar / CalDAV Configuration
CAL_URL="http://ip:port/username/calname/"
CAL_USER=""
CAL_PASS=""

# News Configuration
RSS_LIST_PATH="/home/willman/.iwakura/rss.txt"

# Language Selector
IWAKURA_LANG="es"