# server env
DASH_PORT=8888
DASH_HOST=0.0.0.0
ORCH_PORT=8889
FRONTEND_PORT=8891
GUESTBOOK_PORT=8890
IWAKURA_LANG="en"

ENABLE_WEATHER=1
ENABLE_MUSIC=1
ENABLE_CALENDAR=1
ENABLE_NEWS=1
ENABLE_GUESTBOOK=1

REFRESH_WX=900
REFRESH_MUSIC=6
REFRESH_LFM=300
REFRESH_CAL=600
REFRESH_NEWS=300
REFRESH_GB=15

GB_TITLE="Iwakura Guestbook"
GB_HEADING="Leave a message"
GB_BG_COLOR="#050505"
GB_FG_COLOR="#00ff00"
GB_BTN_COLOR="#008800"

WX_LAT="-"
WX_LON=""

SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_REFRESH_TOKEN=""

LASTFM_API_KEY=""
LASTFM_USER=""
LASTFM_DISPLAY_NAME="" #(this is local btw, just for display)

CAL_URL="http://ip:port/username/calname/"
CAL_USER=""
CAL_PASS=""

RSS_LIST_PATH="/home/user/.iwakura/rss.txt"

# frontend env
DASH_HOST="192.168.1.18"
FRONTEND_PORT=8891
IWAKURA_LANG="en"